.card-contact
 {
    
    width: 400px;
    background-color: rgb(179, 209, 222);
    color: black;
    padding: 5px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 10px;
    font-size: 20px;
    margin-left: 540px;
    margin-top: 30px;

 } 